* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling - Default */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes - reuseable */
.container {
  /* This is to move the content to the middle */
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.bg-dark {
  background: #333;
  color: white;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

/* Navigation */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
  margin: 0;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* showcase */
#showcase {
  background: url("./../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  margin-bottom: 20px;
  line-height: 1.5em;
}

/* Home Info */
#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("./../img/photo-1.jpg") no-repeat;
  min-height: 100%; /* we want the image to take the entire height */
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  margin-bottom: 30px;
}

/* features */
#features {
  text-align: center;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
}

.box i {
  margin-bottom: 10px;
}

/* Contact Form */

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact-info {
  text-align: center;
}

/* Main Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}

/* ASSIGNMENT CSS HERE */

/* About Info */
#about-info {
  padding: 5px;
  /* Add some padding so its not compressed */
}

#about-info .info-left {
  float: left;
  width: 50%;
  padding: 50px;
  /* How do we arrainge two divs side-by-side again? */
}

#about-info .info-right {
  float: right;
  width: 50%;
  padding: 50px;
  /* How do we arrainge two divs side-by-side again? */
}

#about-info .info-right img {
  border-radius: 50%;
  width: 80%;
  display: block;
  /* Perhaps a border radius is needed */
  /* Add some width too */
  /* To center the image, we make use of what css command? */
}

#testimonials {
  background: url("./../img/test-bg.jpg") no-repeat;
  padding: 5px;
  height: 700px;
  /* Add background image here - test-bg.jpg */
  /* Add some padding or height too */
}

#testimonials .testimonal {
  padding: 30px;
  margin: 30px;
  border-radius: 5px;
  text-align: justify;
  /* Add some padding and marging here */
}

#testimonials .testimonal img {
  border-radius: 50%;
  width: 12%;
  float: left;
  padding-right: 15px;

  /* 1. Probably need a border radius to make a circle 
       2. Add a width to make it smaller
       3. How do you float the image to the left of the text? *hint*
    */
}

#testimonials h2 {
  text-align: center;
  color: white;
  padding: 70px;
  margin: 20px;
  /* Maybe align the text and add some padding or margin */
}
